.navbar.navbar-default
    .container-fluid
        .navbar-inner
            form.navbar-form.pull-left(name="recipeAddForm"
                    ng-submit="createRecipe()"
                    )
                input.span2.form-control(name="input" 
                    type="text"
                    placeholder="Name"
                    ng-model="formData.name" required)
                input.span2.form-control(name="input" 
                    type="text"
                    placeholder="Creator"
                    ng-model="formData.creator")

                button.btn(type="submit" id="submitnew" value="Create")
                    Create New


                hr

                a(ng-click="addNew()")
                    + add new item to bill of materials
                form(name="mainForm" ng-submit="submitAll()")
                    .well
                        .item(
                            ng-repeat="item in items" 
                            ng-form="subForm")          
                            //- .row(ng-repeat="material in bom")
                            select.workshop
                                option(ng-repeat="ingredient in ingredients" ng-model="ingredient._id" value="{{ingredient._id}}")
                                    {{ingredient.productName}}
                                input.form-control(
                                    type="text" 
                                    required name="name" 
                                    ng-model="item.material_id")
                                input.form-control(
                                    type="text" 
                                    required name="name" 
                                    ng-model="item.quantity")
                                span(
                                    ng-show="subForm.name.$error.required")
                                    required
                                button(
                                    type="button" 
                                    ng-disabled="subForm.$invalid" 
                                    ng-click="submitOne(item)")
                                    Submit One
                        
                        //- ng-disabled="mainForm.$invalid")




        //- ng-controller="recipesController"
    //- .row.well
    //-     .col-md-4
    //-         select.form-control.duplicate-this
    //-             option(ng-repeat="ingredient in ingredients" value="{{ingredient._id}}"){{ingredient.productName}}
    //-     .col-md-4
    //-         input.form-control(name="quantity"
    //-             placeholder="Quantity"
    //-             ng-model="formData.quantity"
    //-             )
    //-     .col-md-4
    //-         input.form-control.btn(ng-click value="Add")

hr
hr
.row
    .col-md-12
        accordion
            accordion-group(
                heading="<h1>this</h1>and<h4>that</h4>{{recipe.name}}"
                ng-repeat="recipe in recipes")
                h4 {{recipe.name}}
                .item(ng-repeat="material in recipe.bom")
                    {{material.id}} | {{material.value}}

.row
    .col-md-12
        article.bom-item(ng-repeat="recipe in recipes")
            {{recipe.name}}
