h2 
    span(ng-controller="LoginCtrl")
        i.fa.fa-search &nbsp;
    {{user.username}}'s Cupboard


h3 Add an new product

.row
    .col-md-6
        form.ingredient-add-form(name="myForm" 
            ng-controller="cupboardController"
            ng-submit="createIngredient()"
            )
            .row
                input.form-control(name="input" 
                    placeholder="SKU"
                    ng-model="formData.sku" required)
            .row
                input.form-control(name="input" 
                    placeholder="Name"
                    ng-model="formData.productName")
            .row
                input.form-control(name="input" 
                    placeholder="Price"
                    ng-model="formData.price")
            .row
                input.form-control(name="input" 
                    placeholder="Inventory"
                    value="formData.inventory"
                    ng-model="formData.inventory")
            .row
                input.form-control(name="input" 
                    placeholder="Image"
                    ng-model="formData.image")
            .row
                input.form-control.btn(type="submit" id="submitnew" value="Create")

h3 Manage your inventory

.item.row(ng-repeat="ingredient in ingredients")
    .col-md-1
        span.item-span
            a(href="#" 
                data-ng-click="showIngredient(ingredient._id)" ) view 
    .col-md-1
        span.item-span
            a(href="#" 
                ng-hide="editThisIngredient == ingredient._id"
                data-ng-click="switchToEdit(ingredient._id)" ) edit 
            a(href="#" 
                ng-show="editThisIngredient == ingredient._id"
                data-ng-click="discardEdit(ingredient._id)" ) discard
    .col-md-3
        span.item-span 
            {{ingredient._id}}
    .col-md-1
        span.item-span(ng-hide="editThisIngredient == ingredient._id") 
            {{ingredient.sku}}
        span.item-span(ng-show="editThisIngredient == ingredient._id") 
            input.form-control(value="{{ingredient.sku}}")
    .col-md-2 
        span.item-span(ng-hide="editThisIngredient == ingredient._id") 
            {{ingredient.productName}}
        span.item-span(ng-show="editThisIngredient == ingredient._id") 
            input.form-control(value="{{ingredient.productName}}")
    .col-md-1
        span.item-span(ng-hide="editThisIngredient == ingredient._id") 
            {{ingredient.price}}
        span.item-span(ng-show="editThisIngredient == ingredient._id") 
            input.form-control(value="{{ingredient.price}}")
    .col-md-1
        span.item-span(ng-hide="editThisIngredient == ingredient._id") 
            {{ingredient.inventory}}
        span.item-span(ng-show="editThisIngredient == ingredient._id") 
            input.form-control(value="{{ingredient.inventory}}")
    .col-md-2
        a(href='#' 
            ng-hide="editThisIngredient == ingredient._id"
            ng-click="deleteIngredient(ingredient._id)") delete
        a(href='#' 
            ng-show="editThisIngredient == ingredient._id"
            ng-click="saveIngredient(ingredient._id)") save
